@page
@model OrderModel
@{
    ViewData["Title"] = "Order";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#flavorID').click(function () {

            $.ajax({
                type: "GET",
                url: "http://fdcapi.azurewebsites.net/api/flavors/",
                dataType: "json",
                success: function (data) {

                    $.each(data, function (i, data) {
                        var div_data = "<option value=" + data.flavorId + ">" + data.flavorName + "</option>";
                        $(div_data).appendTo('#flavor_select');
                    });
                }
            });
        }

            

        );
    });

</script>

<h2>Order</h2>

<div id="div_source1">
    <select id="flavor_select">
        <option value="select"></option>
    </select>
</div>
<input type="button" id="flavorID" name="btn_Flavor" value="Flavors">